<p>
  product-list works!
</p>

<div class="container">
  <br />
  <app-product-child-component></app-product-child-component>
  
  <h1>Now Detects Changed of Child in Parent</h1>

  <app-product-child-component 
                  (valueChange)='displayCounter($event)'>
  </app-product-child-component>
  
      <h2>Changes Value is :  {{ childToParent}}  </h2>
  <h1 class="text-center">{{title}}</h1>
  <table class="table">
      <thead>
      <th>Id</th>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
      </thead>
      <tbody>
          <tr *ngFor="let p of products">
              <td>{{p.id}}</td>
              <td>{{p.title}}</td>
              <td>{{p.price}}</td>
              <td>{{p.stock}}</td>
              <app-stockexchange [productId]='p.id'
               [stock]='p.stock' 
               (stockValueChange)='changeStockValue($event)'></app-stockexchange>

          </tr>
      </tbody>
  </table>
</div>