<!-- <p>
  dashboard-main works!
</p>
 -->


 <div class="sidenav">
  <a href="#" routerLink="/dashboard/home" routerLinkActive="active">Home</a>
  <a href="#" routerLink="/dashboard/users" routerLinkActive="active">Users</a>
  <a href="#" routerLink="/dashboard/home" routerLinkActive="active" >Change Password</a>
  <a href="#" routerLink="/dashboard/home" routerLinkActive="active">Raise Ticket</a>
  <a href="#" routerLink="/dashboard/productList" routerLinkActive="active">Product List</a>

</div>



<div class="main">
  <h2>Sidenav Example</h2>
  <p>This sidenav is always shown.</p>
  <router-outlet>  </router-outlet>
</div>